body{
    background-color: gainsboro;
    font-family: sans-serif;
}
#lvOne{
    height: 50px;
    width: 100%;
    background-color: cadetblue;
    justify-content: space-between;
}
#lvOne a {
    width: 50px;
    height: 50px;
}
#lvOne a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#lvTwo{
    height: 50px;
    width: 100%;
    background-color: aliceblue;
}
<<<<<<< HEAD
=======
#lvThree{
    height: 50px;
    width: 100%;
    background-color: aliceblue;
}
>>>>>>> 0c165b0 (updatesetfalse)
.imgmenu{
    height: 25px;
    width: auto;
    margin-top: 10px;
}
.itemsmenu{
    height: 100%;
    margin-right: 1px;
    border-right-style: outset ;
    border-right-width: 0.1px;
    float: left;
}

.imgmenu:hover{
    height: 32px;
}
.itemsmenu:hover{
    background-color: yellow;
    cursor: pointer;
    font-weight: bold;
}
.imgHanghoa{
    height:auto;
    width: 170px;
}
.imgHanghoa:hover{
    height: auto;
    width: 180px;
}
.itemsHanghoa{
    min-height: 300px;
    width: 180px;
    border: outset;
    border-width: 0.1px;
    float: left;
    margin: 5px;
    background-color: white;
    padding: auto auto;
    box-shadow: 5px 5px #cccccc;
}
.itemsHanghoa:hover{
    cursor: pointer;
    
}

.itemsViewHanghoa{
    min-height: 500px;
    width: 70px;
    border: outset;
    border-width: 0.1px;
    margin: 5px auto;
    background-color: white;
    padding: auto auto;
    box-shadow: 5px 5px #cccccc;
}
.imgViewHanghoa{
    height: auto;
    width: 450px;
}



